html {
    height: 100%;
}

body {
    font-family: Raleway;
    background-color: #EEE;
    height: 100%;
}


.panel-main {
    box-shadow: 0px 0px 10px #BDBDBD;
    background-color: #FFF;
    border-radius: 3px;
    padding: 15px;
    min-height: 50%;
}

.topbar {
    background-color: #D50000;
    color: #fff;
    box-shadow: 0px 0px 10px #BDBDBD;
    margin-bottom: 15px;
}

.title {
    font-family: comfortaa;
}

.title a {
    color: #fff;
}

.title a:hover{
    text-decoration: none;
}

.navigation {
    font-family: raleway;
}

.spacer {
    margin-top: 25px;
}

.shareblock {
    float: left;
}

h1 a {
    color: #333;
}

h1 a:hover {
    text-decoration: none;
}


@media (min-width: 768px) {

    .navigation li a {
        width: 100%;
    }

    li.current-menu-item {
        background-color: #FAFAFA;
    }

    .navigation li:hover {
        background-color: #FAFAFA;
    }

    .navigation li a {
        padding-top: 20px;
        color: #FAFAFA;
        padding-bottom: 20px;
    }

    li.current-menu-item a {
        color: #D50000;
    }

    li.current-menu-item a:hover {
        color: #D50000;
    }

     .navigation li a:hover {
        color: #D50000;
        text-decoration: none;
    }

    .navigation li:hover a {
        color: #D50000;
        text-decoration: none;
    }

}

@media (min-width: 992px) {
    .topbar {
        min-height: 60px;
    }

    .title {
        padding-top: 7px;
        font-size: 32px;
        min-height: 60px;
    }

    .navigation {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: -10px;
    }

    .navigation li {
        padding-top: 20px;
        size: 20px;
        padding-bottom: 20px;
        height: 60px;
        vertical-align: middle;
        padding-left: 5px;
        padding-right: 5px;
    }

}

@media (min-width: 1200px) {
    .navigation {
        padding-left: 60px;
        padding-right: 60px;
    }

}

@media (max-width: 991px) {


    .topbar {
        min-height: 46px;
    }

    .title {
        font-size: 18px;
        min-height: 46px;
        padding-top: 10px;
        float: left;
    }

    .navigation {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: -10px;
    }

    .navigation li {
        padding-top: 14px;
        size: 18px;
        height: 46px;
        vertical-align: middle;
        padding-left: 5px;
        padding-right: 5px;
    }


}


@media(max-width: 767px) {
    .navglyph{
        color: #fff;
        margin-top: -5px;
    }

    .dropdown-menu {
        position: fixed;
        left: -8px;
        right: 25%;
        top: -8px;
        bottom: -8px;
        font-size: 18px;
        overflow-y: scroll;
    }

    .dropdown-menu li a {
        min-height: 46px;
        padding-top: 10px;
    }

    .dropdown-menu li.current-menu-item a {
        background-color: #F44336;
        color: #fff;
    }
}
