body {
    font-family: Raleway;
    background-color: #EEE
}

.topbar {
    background-color: #F44336;
    color: #fff;
}

.title {
    font-family: comfortaa;
}

.title a {
    color: #fff;
}

.title a:hover{
    text-decoration: none;
}

.navigation {
    font-family: raleway;
}

.spacer {
    margin-top: 25px;
}


@media (min-width: 992px) {
    .topbar {
        min-height: 60px;
    }

    .title {
        padding-top: 7px;
        font-size: 32px;
        min-height: 60px;
    }

    .navigation {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: -10px;
    }

    .navigation li {
        padding-top: 20px;
        size: 20px;
        padding-bottom: 20px;
        height: 60px;
        vertical-align: middle;
        padding-left: 5px;
        padding-right: 5px;
    }

    li.current-menu-item {
        background-color: #D50000;
    }

    .navigation li:hover {
        background-color: #ff5252;
    }

    .navigation li a {
        padding-top: 20px;
        color: #fff;
        padding-bottom: 20px;
    }
    .navigation li a:hover {
        text-decoration: none;
    }

}

@media (min-width: 1170px) {
    .navigation {
        padding-left: 60px;
        padding-right: 60px;
    }

}

@media (max-width: 991px) {


    .topbar {
        min-height: 46px;
    }

    .title {
        font-size: 18px;
        min-height: 46px;
        padding-top: 10px;
        float: left;
    }


}


@media(max-width: 767px) {
    .navglyph{
        color: #fff;
        margin-top: -5px;
    }

    .dropdown-menu {
        position: fixed;
        left: -8px;
        right: 25%;
        top: -8px;
        bottom: -8px;
        font-size: 18px;
        overflow-y: scroll;
    }

    .dropdown-menu li a {
        min-height: 46px;
        padding-top: 10px;
    }

    .dropdown-menu li.current-menu-item a {
        background-color: #F44336;
        color: #fff;
    }
}
